.deleteBtnInTestimonials:hover .testimonialFirstDelete {
    display: none;
    transition: 1s linear;

}

.deleteBtnInTestimonials:hover .testimonialSecondDelete {
    display: block;
    transition: 1s linear;

}

.testimonialSecondDelete {
    display: none;
}