.aboutHero {
    padding: 20px 0;
    background: #101046;

    .container {
        .row {
            .col-lg-6 {
                .aboutHeroLeft {
                    h1 {
                        font-size: 76px;
                        font-weight: 700;
                        line-height: 98.8px;
                        margin-top: -7px;
                        font-family: "Poppins", sans-serif !important;
                        color: white;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;

                        li {
                            color: white;
                            font-size: 18px;

                            &:not(:last-child) {
                                margin-right: 10px;
                            }

                            a {
                                color: white;
                            }

                            svg {
                                color: white;
                            }
                        }
                    }
                }

                .aboutHeroRight {
                    max-width: 600px;
                    height: 400px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .aboutHeroLeft {
        h1 {
            font-size: 56px !important;
            line-height: 70.8px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .aboutHeroRight {
        display: none !important;
    }

    .aboutHero {
        padding: 60px 0 !important;
    }

    .aboutHeroLeft {
        h1 {
            font-size: 50px !important;
            line-height: 60.8px !important;
        }
    }
}

@media screen and (max-width: 575px) {

    .aboutHeroLeft {
        h1 {
            font-size: 44px !important;
            line-height: 60.8px !important;
        }
    }
}

@media screen and (max-width: 500px) {

    .aboutHeroLeft {
        h1 {
            font-size: 38px !important;
            line-height: 42.8px !important;
        }
    }
}

@media screen and (max-width: 420px) {

    .aboutHeroLeft {
        h1 {
            font-size: 30px !important;
            line-height: 40.8px !important;
        }

        ul {

            li {
                font-size: 15px !important;

                &:not(:last-child) {
                    margin-right: 7px !important;
                }
            }
        }
    }
}